.row.index-content.no-background
  .col-lg-12.text.text-center
    %h1
      A curae lacinia dolor natoque
      adipiscing aliquet.
    %ul.row
      %li.col-lg-4
        Sapien a a pharetra montes nascetur in iaculis condimentum sed vestibulum placerat ridiculus mi sed praesent a euismod faucibus condimentum.
      %li.col-lg-4
        Sapien a a pharetra montes nascetur in iaculis condimentum sed vestibulum placerat ridiculus mi sed praesent a euismod faucibus condimentum.
      %li.col-lg-4
        Sapien a a pharetra montes nascetur in iaculis condimentum sed vestibulum placerat ridiculus mi sed praesent a euismod faucibus condimentum.
    %a.btn.btn-default{href: '/purpose_strategy'}
      Learn More
