.row.index-content.no-background
  .col-lg-12.text.text-center
    %h1
      Discover Your Purpose Through Work
    %ul.row
      %li.col-lg-4
        Engage in meaningful work.
      %li.col-lg-4
        Distribute risk and collaborate to build businesses.
      %li.col-lg-4
        Grow an organization without going insane.
    %a.btn.btn-default{href: '/purpose_strategy'}
      Learn More
