.row.structure-content
  .col-lg-6.text
    %h1.top-line Our Starting Structure
    %h2 The circles to the right are how our work is organized, today.
    %br
    %br
    %p We organize our work using roles. Roles have a few parts: a purpose, a set of accountabilities and possibly, a domain. Together these parts make up the whole of a role, and roles together make up the whole of an organization. As you can see our organization is simple -- that is because we’re small. As we grow, the work will become more complex and so will organizing the work.
    
    %p Roles are built and altered using a participatory process. For example, as we run experiments and learn how to steer this organization, we alter the roles to reflect the learnings. We use a meeting process to organize the work because altering how the work is organized requires input and if there are no agreed upon processes decision making can easily become authoritarian.
    
    %p Interested in filling a role or proposing a new one? Click around to see open roles (highlighted in blue) and consider pitching in!
  
  .col-lg-6.circles.text-center
    %svg{ width: '100%', height: '100%' }
#modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title &nbsp;
      .modal-body
        %h1.top-line-black Role
        .row
          .col-lg-12
            %h2 Purpose
            %p
              Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient.
          .col-lg-12
            %h2 Accountabilities
            %p.text-modal
              Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient.
        .row{ style: 'display: none' }
          .col-lg-12
            = render partial: "typeform"
      .modal-footer
        %button#join.btn.btn-default{:type => "button"} Join Now
%script{ src: "https://d3js.org/d3.v4.js" }
= javascript_include_tag 'circles.js'

