.row.structure-content
  .col-lg-6.text
    %h1.top-line Our Starting Structure
    %h2 Purpose drives us. 
    %br
    %br
    %p But if we just had a purpose, things would be just a litttttle chaotic. That’s where our “circle structure” comes in. 
    
    %p How often have you held a job where what it says your job title is on paper is nothing like you actually do in real life? Often, you are doing work that greatly reaches beyond your job title. In our organization, the structure is constantly changing because the structure adapts to the work we do. 
    
    %p Instead of a job title, we each hold various roles that accurately describe the work we do. We don’t operate as a traditional hierarchy with traditional job titles. You may hold various roles, and it’s likely that the roles you start with will be added to or taken away from as the scope of your work changes. 
    
    %p It’s a dynamic structure. If you feel your role doesn’t accurately describe the work you do, you change it. The work defines the roles. 
    
    %p Take a look around at our circle to get an idea of the different roles we hold and how a circle structure can look -- about once a month we get together to discuss our circle structure so it’s continually changing. Click around to see open roles (highlighted in blue) and consider applying! 
  
  .col-lg-6.circles.text-center
    %svg{ width: '100%', height: '100%' }
#modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title &nbsp;
      .modal-body
        %h1.top-line-black Role
        .row
          .col-lg-12
            %h2 Purpose
            %p
              Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient.
          .col-lg-12
            %h2 Accountabilities
            %p.text-modal
              Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient.
        .row{ style: 'display: none' }
          .col-lg-12
            = render partial: "typeform"
      .modal-footer
        %button#join.btn.btn-default{:type => "button"} Join Now
%script{ src: "https://d3js.org/d3.v4.js" }
= javascript_include_tag 'circles.js'

