.row.structure-content
  .col-lg-6.text
    %h1.top-line Starting Structure
    %h2 Scelerisque condimentum eu vestibulum quis vestibulum lobortis mi eu nisl fusce condimentum
    %br
    %br
    %br
    %p Scelerisque ad vitae a adipiscing dictumst justo suspendisse ut hac ullamcorper tristique sodales nec parturient est taciti proin euismod a condimentum. Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient. Curabitur nulla in odio etiam in condimentum cursus fermentum a parturient aptent sociosqu vestibulum.
  .col-lg-6.circles.text-center
    %svg{ width: '100%', height: '100%' }
%script{ src: "https://d3js.org/d3.v4.js" }
= javascript_include_tag 'circles.js'
#modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title &nbsp;
      .modal-body
        %h1.top-line-black Role
        %h2 Purpose
        %p
          Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient.
        %h2 Accountabilities
        %p.text-modal
          Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient.
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Join Now
