.row.structure-content
  .col-lg-6.text{ 'data-matchHeights': "A"}
    %h1.top-line Starting Structure
    %h3 Scelerisque condimentum eu vestibulum quis vestibulum lobortis mi eu nisl fusce condimentum
    %br
    %br
    %br
    %p Scelerisque ad vitae a adipiscing dictumst justo suspendisse ut hac ullamcorper tristique sodales nec parturient est taciti proin euismod a condimentum. Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient. Curabitur nulla in odio etiam in condimentum cursus fermentum a parturient aptent sociosqu vestibulum.
  .col-lg-6.circles{ 'data-matchHeights': "A"}
    %svg{ width: '45em', height: '45em' }
%script{ src: "https://d3js.org/d3.v4.js" }
= javascript_include_tag 'circles.js'
