.row.purpose-content
  .col-lg-6.text{ 'data-matchHeights': "A"}
    %h1.top-line Purpose Statement
    %h2 Scelerisque condimentum eu vestibulum quis vestibulum lobortis mi eu nisl fusce condimentum lorem eu urna a.
    %br
    %p Scelerisque ad vitae a adipiscing dictumst justo suspendisse ut hac ullamcorper tristique sodales nec parturient est taciti proin euismod a condimentum. Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient. Curabitur nulla in odio etiam in condimentum cursus fermentum a parturient aptent sociosqu vestibulum ullamcorper.

    %p Blandit iaculis nunc egestas euismod vestibulum mi molestie ut malesuada ullamcorper integer diam curabitur suspendisse parturient vestibulum et. A consectetur varius quam parturient a a odio suscipit libero nullam lacinia placerat eros eros nec dui consequat in nulla cum suspendisse. Netus ad ut gravida mauris mattis donec parturient justo maecenas scelerisque cubilia a imperdiet adipiscing vestibulum leo class dui viverra tempor. Mus porta conubia platea a scelerisque risus dis per aptent cubilia vitae euismod suspendisse vestibulum lacus a gravida lacus dis vivamus a nibh.

    %p Curabitur ad ornare eros pretium a vel condimentum adipiscing a in nascetur ac ullamcorper habitasse commodo. Id dolor a conubia dolor gravida a adipiscing luctus potenti cras aptent ultrices bibendum tincidunt quis senectus sem ad aliquet mi sociosqu id. Id sociosqu duis vestibulum sagittis praesent consectetur erat odio a habitasse risus euismod lacinia nascetur aliquam sed nec parturient ut sed. Nostra vestibulum curae ullamcorper a condimentum mus quis augue a suspendisse nisi condimentum tincidunt viverra posuere sociis.
  .col-lg-6.visible-lg.triangle-right.space{ 'data-matchHeights': "A"}
  .col-lg-6.hidden-lg.triangle-bottom.space.mobile
.row.strategy-content
  .col-lg-6.visible-lg.triangle-left.space{ 'data-matchHeights': "B"}
  .col-lg-6.text{ 'data-matchHeights': "B"}
    %h1#strategy.top-line Strategy Statements
    %h2
      %ul
        %li Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient.
        %li Curabitur nulla in odio etiam in condimentum cursus fermentum a parturient aptent sociosqu vestibulum ullamcorper.
        %li A consectetur varius quam parturient a a odio suscipit libero nullam lacinia placerat eros eros nec dui consequat in nulla.
    %br
    %p Blandit iaculis nunc egestas euismod vestibulum mi molestie ut malesuada eu vestibulum quis vestibulum lobortis mi eu nisl fusce lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi

    %p Scelerisque ad vitae a adipiscing dictumst justo suspendisse ut hac ullamcorper tristique sodales nec parturient est taciti proin euismod a condimentum. Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient. Curabitur nulla in odio etiam in condimentum cursus fermentum a parturient aptent sociosqu vestibulum ullamcorper.
    %p.text-center
      %a.btn.btn-default{href: '/organization'}
        View organization
  .col-lg-6.hidden-lg.triangle-bottom.space.mobile
= javascript_include_tag 'arrows.js'
