.row.purpose-content
  .col-lg-6.text{ 'data-matchHeights': "A"}
    %h1.top-line We need a new path for startups. Let’s refactor entrepreneurship, together. 
    %br
    %p We need a path that is bootstrapped before venture backed. One where authority and ownership are shared, not centralized. One that codes software to recode virtue. One that is networked to civic needs and infrastructures, both locally and globally. One that achieves growth by prioritizing healthy human relationships over premature, costly, and ceaseless scale. We need a new model to build startups that are each wired to replicate even over IPO.  

    %p How do we get there? Purpose. 

    %p Our purpose is to refactor entrepreneurship and scale for-Purpose Enterprises. 

    %p We are a startup studio for purpose-driven entrepreneurs. Our business is to build businesses. We grow ventures together through offering capital, organization design, and product development. Among us is a talent network of other like-minded entrepreneurs and complementary-skilled contributors. 
  .col-lg-6.visible-lg.triangle-right.space{ 'data-matchHeights': "A"}
  .col-lg-6.hidden-lg.triangle-bottom.space.mobile
.row.strategy-content
  .col-lg-6.visible-lg.triangle-left.space{ 'data-matchHeights': "B"}
  .col-lg-6.text{ 'data-matchHeights': "B"}
    %h1#strategy.top-line Our Strategy Statements
    %h2
      %ul
        %li Service to ventures even over Novo products. 
        %li Practicing development even over new theory and data about development.
        %li Tribe even over ecosystem.
        %li Documented processes even over more participants.
    %br
    %p You might find our strategy statements strange. Good! When we talk about strategy, we aren’t talking about a traditional plan to drown out the competition. 

    %p No, our strategy statements serve as a guide for when things get tough. These are the tough heuristics we face right now. They will change as we grow. 

    %p Strategy statements are statements that can help guide us and our team’s decisions about what to work on. They follow the format of: “Good thing A” even over “good thing B.” 

    %p Neither thing is bad. In fact, both are good things we want! But when it comes down to it, and we have to sacrifice one over the other, we will always pick “good thing A.”

    %p We find the best strategy statements clarify real, tough decisions that the team faces on a regular basis and push the team to deliberately choose one path over another.

    %p Now check out how we organize our work.
    %p.text-center
      %a.btn.btn-default{href: '/organization'}
        View Organization
  .col-lg-6.hidden-lg.triangle-bottom.space.mobile
= javascript_include_tag 'arrows.js'
