.row.purpose-content
  .col-lg-6.text{ 'data-matchHeights': "A"}
    %h1.top-line Refactor Entrepreneurship and Scale For-Purpose Enterprises
    %br
    %p How would it feel to work at a job that has a purpose? Not just working 9-5 to collect your paycheck and go pass go. Work for a purpose that you truly believe -- a job that makes you excited to get out of bed in the morning. 

    %p You can be a part of something greater than yourself. Create or join an organization based on a purpose you believe in and are willing to jump head first into with Novotorium. 

    %p Novotorium is a venture studio for purpose-driven entrepreneurs. In other words, Novo is a business that build businesses through growth capital, organization design, product design and development, and a talent network to support its ventures. 

    %p Whether you just have an idea, you already have a business, or you want to work in a purpose-driven organization, you’ll find opportunities at Novotorium. To learn more about how to get involved, view our open roles. 
  .col-lg-6.visible-lg.triangle-right.space{ 'data-matchHeights': "A"}
  .col-lg-6.hidden-lg.triangle-bottom.space.mobile
.row.strategy-content
  .col-lg-6.visible-lg.triangle-left.space{ 'data-matchHeights': "B"}
  .col-lg-6.text{ 'data-matchHeights': "B"}
    %h1#strategy.top-line Our Strategy Statements
    %h2
      %ul
        %li Documented processes even over more participants.
        %li Service to ventures even over Novo products. 
        %li Practicing development even over new theory and data about development.
        %li Tribe even over ecosystem.
    %br
    %p You might find our strategy statements look a little different than you might have expected. When we talk about strategy, we aren’t talking about a traditional in the sense of what our plan is to drown out the competition. 

    %p Our strategy statements serve as a guide for when things get tough. Strategy statements are statements that can help guide you and your team’s decisions about your work. They follow the format of: “Good thing A” even over “good thing B.” 

    %p Neither thing is bad. In fact, both are good things we want! But when it comes down to it and we have to sacrifice one over the other, we will always pick “good thing A.”

    %p The best strategy statements clarify real, tough decisions that the team faces on a regular basis, and push the team to deliberately choose one path over another.
    %p.text-center
      %a.btn.btn-default{href: '/organization'}
        View Organization
  .col-lg-6.hidden-lg.triangle-bottom.space.mobile
= javascript_include_tag 'arrows.js'
