$main-font: "Montserrat",  sans-serif;

$main: #286CB3;
$main-highlight: #A8D6FF;
$main-shade: #568FC2;
$secondary: #D9FF71;
$tertiary: #71FF8D;

$dark: #2B2D2E;
$mid: #4D5456;
$light: #A9AFB3;
$white: #FFFFFF;
$overlay: #000000;

$menu-height: 70px;

body {
  font-family: $main-font;
  color: $dark;
  font-size: 1.6vmin;
}

.navbar-brand, #footer > .row > .col-lg-12 > h2{
  font-size: 2.15em;
  font-weight: bolder;
}
#navbar {
  background-color: $main;
}
.navbar{
  min-height: 4.1em;
  margin-bottom: 0px;
  .container-fluid{
    .navbar-header{
      button{
        border: 0px;
        span.icon-bar {
          background-color: white;
        }
        &:hover{
          background-color: $main;
        }
      }
    }
  }
}
.header{
  background-color: $main;
  width: 100%;
}
.navbar-default{
  border:0px;
}
.navbar-default, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $main;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: white;
}
.navbar-default .navbar-nav > li > a, #footer > .row > .col-lg-12 > h3{
  font-size: 1.25em;
  color: white;
}
.header{
  margin-left: 0px;
  margin-right: 0px;
}
[class*=-content]{
  background-color: #262626;
  opacity: 0.9;
  color: white;
  .text {
    ul{
      list-style: none;
      li{
        padding-left: 1.5em;
        padding-bottom: 1em;
      }
      li:before{
        font-family: Verdana;
        display: inline-block;
        margin-left: -1.5em; /* same as padding-left set on li */
        width: 1.5em; /* same as padding-left set on li */
      }
      li:nth-child(1):before{
        content: "\25C6"; /* UTF-8 Unicode */
      }
      li:nth-child(2):before{
        content: "\25FC"; /* UTF-8 Unicode */
      }
      li:nth-child(3):before{
        content: "\f111"; /* UTF-8 Unicode */
      }
    }
    padding-left: 5.5em;
    padding-right: 5.5em;
    padding-top: 7em;
    padding-bottom: 7em;
    margin-top: 0px;
    margin-bottom: 0px;
    .button{
      color: white;
      background-color: $main;
      border: 0;
      padding: .6em;
      font-size: 1.8em;
      position: relative;
      bottom: -1.5em;
    }
  }
  .triangle-left:after{
    border-right: 7em solid #0099CC;
    border-bottom: 4em solid transparent;
    border-top: 4em solid transparent;
    bottom: 45%;
    content: "";
    position: absolute;
    right: 0%;
    margin-right: -2em;
    width: 0;
    height: 0;
  }
  .triangle-right:after{
    border-left: 7em solid #0099CC;
    border-bottom: 4em solid transparent;
    border-top: 4em solid transparent;
    bottom: 45%;
    content: "";
    position: absolute;
    left: 0%;
    margin-left: -2em;
    width: 0;
    height: 0;
  }
  .space {
    background-color: white;
  }
  .space.mobile {
    min-height: 20em;
  }
  .triangle-bottom:after{
    border-top: 7em solid #0099CC;
    border-right: 4em solid transparent;
    border-left: 4em solid transparent;
    left: 44%;
    content: "";
    position: absolute;
    top: 0%;
    margin-top: -2em;
    width: 0;
    height: 0;
  }
  h1{
    font-size: 4.28em;
  }
  h2{
    font-size: 1.8em;
  }
  p{
    font-size: 1.3em;
  }
}
.top-line{
  border-top: 2px solid white;
  padding-top: 0.2em;
}
