$main-font: "Montserrat",  sans-serif;

$main: #71BCFF;
$main-highlight: #A8D6FF;
$main-shade: #568FC2;
$secondary: #D9FF71;
$tertiary: #71FF8D;

$dark: #2B2D2E;
$mid: #4D5456;
$light: #A9AFB3;
$white: #FFFFFF;
$overlay: #000000;

$menu-height: 72px;

body {
  font-family: $main-font;
  color: $dark;
  font-size: 62.5%;
}

.header, footer{
  font-size: 2em;
}

.header{
  background-color: #286CB3;
  height: 70px;
  width: 100%;
}
.container{
  margin-bottom: 8em;
}
.navbar-default{
  background-color: #286CB3;
  height: 70px;
}
.navbar-default .navbar-brand {
   color: white;
   padding-top: 25px;
}
.navbar-default .navbar-nav > li > a{
   color: white;
   padding-top: 25px;
}
.header{
  margin-left: 0px;
  margin-right: 0px;
}
