.row.structure-content
  .col-lg-6.structure-text
    %h1 Starting Structure
    %h3 Scelerisque condimentum eu vestibulum quis vestibulum lobortis mi eu nisl fusce condimentum
    %br
    %br
    %br
    %p Scelerisque ad vitae a adipiscing dictumst justo suspendisse ut hac ullamcorper tristique sodales nec parturient est taciti proin euismod a condimentum. Nunc adipiscing erat diam mollis a elit cras dis commodo ut consectetur consectetur a parturient. Curabitur nulla in odio etiam in condimentum cursus fermentum a parturient aptent sociosqu vestibulum.
  .col-lg-6.structure-graph
    %a{:href => "https://www.glassfrog.com"}
      = image_tag 'roles-circle.png', class: 'img-responsive'
      