/ Footer Section
%section#footer.container.text-center
  .row
    .col-lg-12
      %h2 novo 2017
      %h3 hello@novo.com
      %br/
      %ul.list-inline.banner-social-buttons
        %li
          %a.youtubeBtn.smGlobalBtn{:href => "https://youtube.com/novo"}
        %li
          %a.twitterBtn.smGlobalBtn{:href => "https://twitter.com/novo"}
        %li
          %a.facebookBtn.smGlobalBtn{:href => "https://facebook.com/novo"}
        %li
          %a.instagramBtn.smGlobalBtn{:href => "https://instagram.com/novo"}
        %li
          %a.snapchatBtn.smGlobalBtn{:href => "https://snapchat.com/novo"}
